@model Forecast.MVC.ViewModels.ForecastIndexViewModel


@{
    ViewBag.Title = "WeatherIndex";
}

<h2>Index</h2>

<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        @Html.LabelFor(m => m.CityName, "Chose city: ")
        @Html.EditorFor(m => m.CityName)

        <button type="submit" class="btn btn-default">Confirm City</button>
    }
</div>

<div>
    @if (Model != null && Model.HasCity)
    {
        foreach (var location in Model.Locations)
        {
            <p>
                @location.County
            </p>
            <p>
                @location.Latitude @location.Longitude
                @Html.ActionLink(@location.City, "Weather", new { lat = @location.Latitude, lon = @location.Longitude })
            </p>

        }
            @*@Html.DisplayFor(m => m.Weathers)*@
    }

    @*@foreach (var forecast in Model)
    {
        <h3>
            @forecast.City
        </h3>
        <h3>
            @forecast.WheaterType
            <img src="~/Weather_Fonts/@(forecast.WheaterType).png" alt="Weather icon" />
        </h3>

    }*@
</div>