@model Forecast.MVC.ViewModels.ForecastIndexViewModel


@{
    ViewBag.Title = "WeatherIndex";
}

<h2>Index</h2>

<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        @Html.LabelFor(m => m.CityName, "Chose city: ")
        @Html.EditorFor(m => m.CityName)

        <button type="submit" class="btn btn-default">Confirm City</button>
    }
</div>

<div>
    @*@if(Model != null && Model.HasCity)
    {

            @Html.DisplayFor(m => m.Weathers)
    }*@

    @if(Model != null)
    { 

        foreach (var location in Model.Locations)
        {
            <p>
                @location.County
            </p>
            <p>
                @location.Latitude @location.Longitude
                @Html.ActionLink(@location.City, "Weather", new { lat = @location.Latitude, lon = @location.Longitude })
            </p>

        }
    }
</div>