@model Forecast.MVC.ViewModels.ForecastIndexViewModel


<h2>Weather forecast for @Model.location.City</h2>

<div class="weekday">

@if (Model != null && Model.HasForecast)
{

    foreach (var item in Model.Weathers)
    {
        var dayOfWeek = Model.DayOfWeek(item.Period);

        if (dayOfWeek != null)
        {
            @Html.Raw(@dayOfWeek)
            <ul class="ul-head">
                <li>Time</li>
                <li>Forecast</li>
                <li>Temp</li>
                <li>Precipitation</li>
                <li>Wind</li>
                <li>Description</li>
            </ul>
        }
        <ul>
            <li>@item.Period.ToString("HH:mm")</li>
            <li><img src="~/Content/WeatherSymbols/@(item.Symbol).png" alt="Weather icon" /></li>
            <li>@item.Temp&deg;C</li>
            <li>@item.Rainfall mm</li>
            <li>@item.Wind meter/sec</li>
            <li>@item.Description</li>
            
        </ul>

    }


}
else
{
        <p>Sorry! could not find any weather forecast for the specific location</p>
}

</div>